/* ПАРАГРАФИ Основний колір тексту #757575 */
/* ЗАГОЛОВКИ Додатковий колір тексту #212121 */
/* Блакитний Акцент #2196F3 */
/* Білий #FFFFFF */
/* Білий з прозорістю rgba(255, 255, 255, 0.6); */
/* Фон основний #FFFFFF */
/* Фон додатковий #F5F4FA */
/* Фон футер #2F303A*/

:root {
    --primary-text-color: #757575;
    --secondary-text-color: #212121;
    --accent-color: #2196F3;

    --primary-background-color: #ffffff;
    --secondary-background-color: #F5F4FA;
    --accent-background-color: #2F303A;

    --primary-white-color: #ffffff;
}

body {
   background-color: var(--primary-background-color);
   color: var(--primary-text-color); 
}

/* Прибирає крапки-маркери у списках */
.list {
    list-style: none;
}

/* BUTTON */
.button {}

.button.primary {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}

.button.secondary {
    color: var(--secondary-text-color);
    background-color: var(--secondary-background-color);
}

.button.secondary:hover,
.button.secondary:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}

/* ЛОГОТИП */
.logo {
    color: #000000;
}
.logo-accent {
    color: var(--accent-color);
}

/* НАВІГАЦІЯ */
.site-nav .link {
    color: var(--secondary-text-color);
}
.site-nav .link:hover, 
.site-nav .link:focus {
    color: var(--accent-color);
}

.site-nav .link.current {
    color: var(--accent-color);
}
.site-nav .link.current:hover,
.site-nav .link.current:focus {
    color: var(--secondary-text-color);
}

/* АВТОРИЗАЦІЯ */
.autho .link {
    color:var(--primary-text-color);
}
.autho .link:hover,
.autho .link:focus {
    color:var(--accent-color)
}

/*   ГЕРОЙ   */
.hero {
    background-color: var(--accent-background-color);
}
.hero .title {
    color: var(--primary-white-color);
}

/*   СЕКЦІЇ  */
.section-title {
    color: var(--secondary-text-color);
}

/*   ОСОБЛИВОСТІ   */
.features .title {
    color: var(--secondary-text-color);
}

/* НАША КОМАНДА */
.team {
    background-color: var(--secondary-background-color);
}

.team-list .title {
    color: var(--secondary-text-color);
}

/* ПОРТФОЛІО */
.cards-title {
    color: var(--secondary-text-color);
}

/* ФУТЕР */
.footer {
    background-color: var(--accent-background-color);
    color: var(--primary-white-color);
}
.footer .logo {
    color: var(--primary-white-color);
}

.contacts .link {
    color: rgba(255, 255, 255, 0.6);
}

.contacts .link:hover,
.autcontactsho .link:focus {
    color: var(--accent-color);
}


